.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.number-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.calculator {
  border: 2px solid white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 20px 20px white;
}

.button {
  width: 100px;
  height: 100px;
  background-color: rgb(52, 51, 51);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 1.5rem;
}

.result {
  width: 95%;
  height: 5rem;
  margin-bottom: 1rem;
  background-color: transparent;
  border: none;
  color: white;
  text-align: right;
  font-size: 2.3rem;
  border: 2px solid white;
  border-radius: 20px;
  padding-right: 5%;
}

.button:hover {
  background-color: white;
  color: rgb(52, 51, 51);
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Começa em 0 graus */
  }
  to {
    transform: rotate(360deg); /* Completa uma volta (360 graus) */
  }
}

.icon {
  animation: spin 2s linear infinite;
}
